* {
    box-sizing: border-box;
}


#main-container {
    background-image: url('music.jpg');
    /* width: 1024px; */
    background-size: cover;
    background-position: center;
    
    margin: 0px auto;
    
    
}
#header{
    background-color: rgba(32, 20, 44, 0.664);
    color: black; 
width: 100%;
    height: 100px;
    margin-bottom: 10px; 
    padding: 20px; 
    
}   

h2, h3{
    font-family: Helvetica, sans-serif;
}
h1{
    font-size: 36px;
    padding: 0 auto; 
    color: white;
    letter-spacing: 3px;
    font-family: 'Alex Brush';
}
h2 {
    font-size: 24px;
}
p{
    font-family: Tahoma;
    font-size: 14px;
}

 
#topnav {
   
    overflow: hidden;
     
    float: right; 
    

    
    /* background-color:  rgba(32, 20, 44, 0.664); */
        
}


#topnav a {
  float: left;
  color: black;
 
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Archivo';
  color: black; 
}


#topnav a:hover {
  background-color: rgba(32, 20, 44, 0.664);
  color: rgba(32, 20, 44, 0.664);
}


#topnav a.active {
    background-color: rgba(32, 20, 44, 0.664);
    color: rgba(32, 20, 44, 0.664);
}


#container{
    margin-top: 50px; 
    margin-bottom: 20px;
    text-align: right; 
    padding-right: 100px; 
}

/* #mainbar{
    float: left; 
    margin-right: 40px; 
    text-align: right;
    font-family: Verdana;
    color: white; 
}
/*
#navbar {
    
    width: 10%;
    height: 520px; 
float: left; 
margin-right: 0; 
border-right: solid black 2px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none; 
text-align: center; 


}
 
#navbar ul {
    list-style-type: none;
    margin-left: 1%; 
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none; 
    
}

#navbar a {
    float: left;
  color: black;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 16px;
}
#navbar ul li a:hover {
    background-color: rgba(32, 20, 44, 0.664);
    color: white;
}
*/
#content {
    width: 100%;
    height: 800px; 
    padding-top: 20px; 
    padding-right: 20px;
    float: left;
    
     

}

.current{
    background-color: rgba(32, 20, 44, 0.664);
    color: white;
    
}

#footer{
    background-color: rgba(32, 20, 44, 0.664);
    color: white; 
    margin-top: 10px;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 10px;
    Text-align: right;  
    height: 100px; ;
    /* width: 1024px; */
}

.clearfix:before,
.clearfix:after {
          content: "";
          display: table;
        } 
.clearfix:after {
          clear: both;
        }
.clearfix {
          zoom: 1; /* For IE 6/7 (trigger hasLayout) */
        }



